.main {
  padding: 0rem 5rem;
  padding-top: 4rem;
  font-family:Arial, Helvetica, sans-serif; 
}

/* NavBar section */
.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: white; 
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1); 
  z-index: 1000; 
}

.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 0rem;
  margin: 2rem 11.5625rem;
  list-style-type: none; 
}

.nav_a {
  text-decoration: none;
  color: black;
}

.nav_a:hover {
  font-weight: bolder; 
}


/* Intro Section */
.introDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.introHeader {
  margin-right: auto;
}

.introHeaderTitle {
  width: 23.4rem;
  font-size: 1.5625rem;
  color: #615b57;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /*The typwriter cursor*/
  white-space: nowrap; 
  animation: 
  typing 3s steps(40, end),
  blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 50% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.introHeaderSubTitle {
  margin-top: 0rem;
  margin-right: 0.5rem;
  font-size: 3.75rem;
  overflow: hidden; 
  border-right: .15em solid orange; 
  white-space: nowrap; 
  opacity: 0; 
  animation: 
  fadeIn 1s forwards, /* Fade in animation */
  typing2 4s steps(40, end),
  blink-caret .75s step-end infinite;
  animation-delay: 3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes typing2 {
  from { width: 0 }
  to { width: 100% }
}

.introImg {
  width: 34rem;
  border-radius: 50%;
  border: 0.0625rem solid #212121;
}


/* Line */
.line {
  width: 100%;         
  height: 0.00625rem;         
  background-color: #615b57;   
  margin-top: 2rem; 
  margin-bottom: 2rem; 
}


/* Card */
.cardContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cardContainerHeader {
  font-size: 3.75rem;
  margin-right: 5rem;
  margin-left: 5rem;
  max-width: 24rem;
}

.cards {
  background: #E5E4E2;
  display: flex;
  gap: 0.3125rem;
  padding: .4em;
  font-size: large;
  border-radius: 0.6rem;
}

.card {
  height: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: all 1s;
  background: white;
  border: 0.0625rem solid #212121;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover {
  flex: 4;
}

.card span {
  padding: .5rem;
  text-align: left; 
  transform: rotate(-90deg);
  transition: all 1s;
  color: #615b57;
}

.card:hover span {
  transform: rotate(0);
}

.card:hover p {
  color: black;
  display: Block;
}

.card p {
  display: None;
  font-weight: lighter;
}

/* MultiCard */
.background {
  position: absolute;
  inset: 0;
  background-image: linear-gradient(43deg, #97d8ea 0%, #94bdf0 100%);
}

.multicardChild {
  position: relative;
  width: 18.75rem;
  height: 18.75rem;
  background: lightgrey;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0rem 0.4375rem 1.8125rem 0rem;
  transition: all 1s ease-in-out;
  border: 0.125rem solid rgb(255, 255, 255);
}

.multicardChild img {
  width: 3.125rem;
}

.muticardHeading {
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  transition: all 0.6s ease-in-out;
  font-size: 1.3em;
  font-weight: bolder;
  color: #555054;
  letter-spacing: 0.1875rem;
}

.multiCardIcon {
  display: inline-block;
  max-width: 1.25rem;
  max-height: 1.25rem;
}

.multicardChildElements {
  fill: rgba(255, 255, 255, 0.797);
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.multiCardBox {
  position: absolute;
  padding: 0.625rem;
  text-align: right;
  background: rgba(255, 255, 255, 0.389);
  border-top: 0.125rem solid rgb(255, 255, 255);
  border-right: 0.0625rem solid white;
  border-radius: 10% 13% 42% 0%/10% 12% 75% 0%;
  box-shadow: rgba(100, 100, 111, 0.364) -0.4375rem 0.4375rem 1.8125rem 0rem;
  transform-origin: bottom left;
  transition: all 1s ease-in-out;
}

.multiCardBox::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.multiCardBox:hover .multicardChildElements {
  fill: white;
}

.multiCardBoxData {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}

.multiCardBoxName {
  font-size: 0.55rem;
  color: grey;
}

.box1 {
  width: 65%;
  height: 65%;
  bottom: -65%;
  left: -65%;
}

.box1:hover::before {
  opacity: 1;
}

.box1:hover .multicardChildElements .multiCardIcon {
  filter: drop-shadow(0 0 0.3125rem white);
}

.box2 {
  width: 50%;
  height: 50%;
  bottom: -50%;
  left: -50%;
  transition-delay: 0.2s;
}

.box2:hover::before {
  opacity: 1;
}

.box2:hover .multicardChildElements .multiCardIcon {
  filter: drop-shadow(0 0 0.3125rem white);
}

.box3 {
  width: 37%;
  height: 37%;
  bottom: -37%;
  left: -37%;
  transition-delay: 0.4s;
}

.box3:hover::before {
  opacity: 1;
}

.box3:hover .multicardChildElements .multiCardIcon {
  filter: drop-shadow(0 0 0.3125rem white);
}

.box4 {
  width: 25%;
  height: 25%;
  bottom: -25%;
  left: -25%;
  transition-delay: 0.6s;
}

.box4:hover::before {
  opacity: 1;
}

.box4:hover .multicardChildElements .multiCardIcon {
  filter: drop-shadow(0 0 0.3125rem white);
}

.box5 {
  width: 13%;
  height: 13%;
  bottom: -13%;
  left: -13%;
  transition-delay: 0.8s;
}

.multicardChild:hover {
  transform: scale(1.1);
  z-index: 1;
}

.multicardChild:hover .multiCardBox {
  bottom: -0.0625rem;
  left: -0.0625rem;
}

.multicardChild:hover .muticardHeading {
  transform: translate(4.375rem, -3.25rem);
  letter-spacing: 0rem;
}

/* Form */
.form {
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 0.3rem;
  padding: 2rem;
  border-radius: 0.8rem;
  word-spacing: .2em;
  font-size:large;
  margin-left: 25%;
}

.formTop {
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  padding-bottom: 1rem;
}

.formTitle {
  margin: 0%;
  font-weight: lighter;
}

.formDots {
  display: flex;
  gap: 0.5rem;
  margin-right: auto;
}

.formRedDot {
  background-color: #EF4444;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 625rem;
}

.formYellowDot {
  background-color: #EAB308;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 625rem;
}

.formGreenDot {
  background-color: #22C55E;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 625rem;
}

.form label {
  color: #4ADE80;
}

.form input {
  color: white;
  background-color: black;
  border: none;
  word-spacing: .2em;
  font-size: large;
}

.form textarea {
  color: white;
  background-color: black;
  border: none;
  word-spacing: .025em;
  font-size: x-large;
  min-height: 10rem; 
  resize: vertical; 
}

.form button {
  font-family: inherit;
  font-size: large;
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 1rem;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  width: 7rem;
  margin-left: 40%;
}

.form button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.form button img {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
  width: 2rem;
}

.form button:hover .img-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.form button:hover img {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.form button:hover span {
  transform: translateX(5em);
}

.form button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}


/* Socials */
.socials {
  width: 50%;
  margin-left: 22%;
}

.socialsImg {
  max-width: 3rem;
  max-height: 3rem;
}

.social {
  position: relative;
  display: inline-block;
}

.socialsName {
  visibility: hidden;
  width: auto;
  border: 0.1rem solid black;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 65%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.socialsImg:hover + .socialsName {
  opacity: 1;
  visibility: visible;
}
